---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>DRS - About</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog">Blog</a>
        <h1>Hi, I'm Daniel</h1>
        <p>I'm currently working through the Astro tutorial.</p>
        <p>
            This site will update as I work through the tutorial, and
            potentially afterward as well if I'm happy enough with the process
            to use it for my personal website.
        </p>
    </body>
</html>
